In [9]:
from pymongo import MongoClient
import pandas as pd
from datetime import datetime
from itertools import chain

client = MongoClient("mongodb://localhost:27017/")
db = client["recommender_system"] 
collection = db["admissions_discharges"]

In [10]:
start_date = datetime(2024, 3, 1)
end_date = datetime(2024, 3, 31, 23, 59, 59)
query = {
    "date": {
        "$gte": start_date,
        "$lte": end_date
    }
}
cursor = collection.find(query)
df = pd.DataFrame(list(cursor))

In [11]:
df.shape

(31, 19)

In [12]:
diagnoses_icds = []
emergency_ids = []
other_ids = []
for i in range(len(df)): 
    emergency_ids.append(df.iloc[i]['hadm_ids_emergency'])
    other_ids.append(df.iloc[i]['hadm_ids_other'])

In [13]:
flattened = list(chain.from_iterable(emergency_ids))
unique_emergency_ids = list(set(flattened))
flattened = list(chain.from_iterable(other_ids))
unique_other_ids = list(set(flattened))

In [14]:
hadm_ids = []
hadm_ids.append(unique_emergency_ids)
hadm_ids.append(unique_other_ids) 
flattened = list(chain.from_iterable(hadm_ids)) 
unique_hadm_ids = list(set(flattened))

In [15]:
unique_hadm_ids

[25345025,
 20444674,
 21869570,
 27535364,
 29769736,
 25863179,
 25272331,
 23909902,
 26317840,
 21137424,
 29172242,
 21223956,
 22499348,
 24395288,
 23321627,
 22107164,
 29614622,
 27380769,
 29527588,
 22161445,
 24044584,
 28335657,
 25607722,
 27433515,
 20842540,
 28022830,
 23346223,
 28267056,
 27693106,
 28853300,
 27729462,
 27012662,
 23623224,
 28247094,
 26873913,
 20329019,
 26688057,
 21154875,
 28288574,
 27309636,
 20582983,
 27682375,
 28831305,
 27383372,
 24513106,
 26311763,
 21774933,
 21664854,
 29953111,
 21534300,
 25701469,
 24825440,
 28466275,
 25229925,
 20165734,
 27217002,
 26025579,
 21646444,
 29023853,
 28037230,
 24057964,
 21422707,
 22873205,
 24463990,
 22052982,
 21750390,
 20187769,
 23110267,
 27757692,
 21915776,
 28717697,
 20434050,
 27853440,
 23052417,
 20894341,
 21214338,
 29880455,
 20976257,
 24557197,
 20700814,
 23448206,
 22279314,
 23424661,
 20926615,
 26984601,
 20636315,
 27349660,
 27484316,
 27391643,
 25287839,
 29649567,
 20943009,
 22618786,
 22482589,
 28536996,
 29588131,
 28466851,
 22278820,
 28010662,
 27727529,
 27034794,
 28648618,
 25322154,
 29371059,
 25433782,
 20037816,
 25353403,
 28246717,
 22112960,
 22239426,
 23715523,
 25688262,
 20876999,
 23764168,
 22514378,
 24579787,
 24202445,
 28809934,
 23890638,
 20296910,
 24871124,
 28954846,
 24273118,
 23652576,
 23592671,
 25332969,
 22030571,
 24604911,
 24635121,
 29511412,
 27743989,
 20424437,
 27452152,
 27138300,
 22561021,
 26436864,
 22197506,
 23406071,
 23112965,
 25362182,
 28364553,
 22234893,
 29413133,
 21841167,
 24253199,
 20120850,
 28878610,
 23931668,
 22935318,
 26919191,
 24638232,
 23841561,
 23872282,
 28422940,
 28076318,
 24636704,
 28091169,
 20276010,
 24214314,
 27778350,
 26779439,
 25996592,
 22176054,
 26732855,
 23707965,
 25761600,
 24552769,
 24673093,
 26106181,
 25863500,
 27352910,
 28108626,
 25547604,
 20248405,
 23779668,
 25269079,
 26016088,
 20347739,
 28638045,
 23020382,
 22441310,
 28208477,
 26941790,
 26693986,
 20067171,
 29044580,
 21845861,
 27813219,
 22268778,
 29223787,
 28197740,
 24336749,
 29997422,
 23941490,
 29356404,
 24615797,
 26913654,
 23980919,
 29686645,
 23940982,
 29209975,
 28245881,
 27872638,
 29754238,
 24881025,
 21399938,
 29502339,
 27436931,
 20531077,
 20587396,
 26443656,
 27837320,
 26757515,
 24607116,
 26089869,
 29697934,
 20435341,
 29174671,
 23234448,
 27873682,
 29025679,
 28222862,
 25901456,
 29025686,
 24682384,
 25350547,
 26606485,
 23081882,
 21584795,
 23828381,
 20311454,
 28539807,
 22543263,
 28324769,
 28120996,
 29209508,
 23427492,
 27404709,
 25614756,
 24583081,
 23192490,
 21402025,
 21794732,
 27085749,
 26727350,
 29866935,
 29151159,
 24028601,
 21791676,
 23739838,
 25202623,
 20715971,
 25093061,
 28197318,
 23503815,
 27289034,
 21364683,
 25630156,
 20990411,
 27288014,
 26789834,
 22527442,
 28611028,
 28954078,
 24657887,
 29375970,
 26306534,
 27948521,
 21800938,
 28533227,
 29880300,
 20955118,
 27016174,
 27183089,
 27420146,
 26478067,
 22822900,
 28281843,
 20827125,
 25578487,
 21178874,
 24283644,
 27017213]

In [13]:
emergency_ids =  df.iloc[0]['hadm_ids_emergency']

In [14]:
for j in range(len(emergency_ids)):
    print(emergency_ids[j])

28335657
27034794
28466275
23020382
20943009
29866935

In [16]:

db_MIMIC = client["MIMIC"] 
collection_diagnoses_icd = db_MIMIC["diagnoses_icd"]
collection_procedures_icd = db_MIMIC["procedures_icd"]
collection_admissions = db_MIMIC["admissions"]
collection_patients = db_MIMIC["patients"]

In [86]:
# diagnoses_icds = []
# procedures_icds = []
for hadm_id in unique_hadm_ids: 
    print(hadm_id)
    cursor = collection_diagnoses_icd.find({"hadm_id": hadm_id})
    documents = list(cursor)
    print('diagnoses_icd',len(documents))
    for doc in documents:
        doc.pop("_id", None)  
    collection = db["diagnoses_icd"] 
    if documents: 
        result = collection.insert_many(documents)
        print(f"{len(result.inserted_ids)} records inserted.")

    
    cursor = collection_procedures_icd.find({"hadm_id": hadm_id})
    documents = list(cursor)
    print('procedures_icd',len(documents))
    for doc in documents:
        doc.pop("_id", None)  
    collection = db["procedures_icd"] 
    if documents: 
        result = collection.insert_many(documents)
        print(f"{len(result.inserted_ids)} records inserted.")
# # Convert to DataFrame
# df_diagnoses = pd.DataFrame(diagnoses_icds)
# df_procedures = pd.DataFrame(procedures_icds)

25345025
diagnoses_icd 5
5 records inserted.
procedures_icd 1
1 records inserted.
20444674
diagnoses_icd 3
3 records inserted.
procedures_icd 0
21869570
diagnoses_icd 6
6 records inserted.
procedures_icd 6
6 records inserted.
27535364
diagnoses_icd 6
6 records inserted.
procedures_icd 0
29769736
diagnoses_icd 9
9 records inserted.
procedures_icd 0
25863179
diagnoses_icd 4
4 records inserted.
procedures_icd 2
2 records inserted.
25272331
diagnoses_icd 6
6 records inserted.
procedures_icd 1
1 records inserted.
23909902
diagnoses_icd 5
5 records inserted.
procedures_icd 0
26317840
diagnoses_icd 5
5 records inserted.
procedures_icd 0
21137424
diagnoses_icd 8
8 records inserted.
procedures_icd 5
5 records inserted.
29172242
diagnoses_icd 39
39 records inserted.
procedures_icd 19
19 records inserted.
21223956
diagnoses_icd 3
3 records inserted.
procedures_icd 0
22499348
diagnoses_icd 4
4 records inserted.
procedures_icd 2
2 records inserted.
24395288
diagnoses_icd 7
7 records inserted.
procedures_icd 0
23321627
diagnoses_icd 10
10 records inserted.
procedures_icd 1
1 records inserted.
22107164
diagnoses_icd 4
4 records inserted.
procedures_icd 1
1 records inserted.
29614622
diagnoses_icd 18
18 records inserted.
procedures_icd 0
27380769
diagnoses_icd 14
14 records inserted.
procedures_icd 2
2 records inserted.
29527588
diagnoses_icd 3
3 records inserted.
procedures_icd 0
22161445
diagnoses_icd 10
10 records inserted.
procedures_icd 0
24044584
diagnoses_icd 13
13 records inserted.
procedures_icd 2
2 records inserted.
28335657
diagnoses_icd 10
10 records inserted.
procedures_icd 0
25607722
diagnoses_icd 9
9 records inserted.
procedures_icd 3
3 records inserted.
27433515
diagnoses_icd 9
9 records inserted.
procedures_icd 0
20842540
diagnoses_icd 22
22 records inserted.
procedures_icd 7
7 records inserted.
28022830
diagnoses_icd 5
5 records inserted.
procedures_icd 2
2 records inserted.
23346223
diagnoses_icd 20
20 records inserted.
procedures_icd 0
28267056
diagnoses_icd 11
11 records inserted.
procedures_icd 0
27693106
diagnoses_icd 16
16 records inserted.
procedures_icd 1
1 records inserted.
28853300
diagnoses_icd 9
9 records inserted.
procedures_icd 1
1 records inserted.
27729462
diagnoses_icd 5
5 records inserted.
procedures_icd 1
1 records inserted.
27012662
diagnoses_icd 4
4 records inserted.
procedures_icd 0
23623224
diagnoses_icd 3
3 records inserted.
procedures_icd 0
28247094
diagnoses_icd 39
39 records inserted.
procedures_icd 21
21 records inserted.
26873913
diagnoses_icd 6
6 records inserted.
procedures_icd 4
4 records inserted.
20329019
diagnoses_icd 25
25 records inserted.
procedures_icd 11
11 records inserted.
26688057
diagnoses_icd 2
2 records inserted.
procedures_icd 3
3 records inserted.
21154875
diagnoses_icd 9
9 records inserted.
procedures_icd 3
3 records inserted.
28288574
diagnoses_icd 30
30 records inserted.
procedures_icd 3
3 records inserted.
27309636
diagnoses_icd 8
8 records inserted.
procedures_icd 6
6 records inserted.
20582983
diagnoses_icd 12
12 records inserted.
procedures_icd 0
27682375
diagnoses_icd 12
12 records inserted.
procedures_icd 1
1 records inserted.
28831305
diagnoses_icd 3
3 records inserted.
procedures_icd 0
27383372
diagnoses_icd 13
13 records inserted.
procedures_icd 3
3 records inserted.
24513106
diagnoses_icd 1
1 records inserted.
procedures_icd 0
26311763
diagnoses_icd 7
7 records inserted.
procedures_icd 0
21774933
diagnoses_icd 2
2 records inserted.
procedures_icd 0
21664854
diagnoses_icd 2
2 records inserted.
procedures_icd 0
29953111
diagnoses_icd 6
6 records inserted.
procedures_icd 1
1 records inserted.
21534300
diagnoses_icd 3
3 records inserted.
procedures_icd 0
25701469
diagnoses_icd 4
4 records inserted.
procedures_icd 0
24825440
diagnoses_icd 4
4 records inserted.
procedures_icd 2
2 records inserted.
28466275
diagnoses_icd 14
14 records inserted.
procedures_icd 1
1 records inserted.
25229925
diagnoses_icd 34
34 records inserted.
procedures_icd 1
1 records inserted.
20165734
diagnoses_icd 7
7 records inserted.
procedures_icd 0
27217002
diagnoses_icd 12
12 records inserted.
procedures_icd 3
3 records inserted.
26025579
diagnoses_icd 7
7 records inserted.
procedures_icd 0
21646444
diagnoses_icd 2
2 records inserted.
procedures_icd 2
2 records inserted.
29023853
diagnoses_icd 8
8 records inserted.
procedures_icd 0
28037230
diagnoses_icd 9
9 records inserted.
procedures_icd 0
24057964
diagnoses_icd 11
11 records inserted.
procedures_icd 0
21422707
diagnoses_icd 29
29 records inserted.
procedures_icd 16
16 records inserted.
22873205
diagnoses_icd 18
18 records inserted.
procedures_icd 3
3 records inserted.
24463990
diagnoses_icd 11
11 records inserted.
procedures_icd 0
22052982
diagnoses_icd 15
15 records inserted.
procedures_icd 4
4 records inserted.
21750390
diagnoses_icd 6
6 records inserted.
procedures_icd 0
20187769
diagnoses_icd 8
8 records inserted.
procedures_icd 0
23110267
diagnoses_icd 3
3 records inserted.
procedures_icd 1
1 records inserted.
27757692
diagnoses_icd 13
13 records inserted.
procedures_icd 0
21915776
diagnoses_icd 11
11 records inserted.
procedures_icd 2
2 records inserted.
28717697
diagnoses_icd 6
6 records inserted.
procedures_icd 0
20434050
diagnoses_icd 7
7 records inserted.
procedures_icd 2
2 records inserted.
27853440
diagnoses_icd 18
18 records inserted.
procedures_icd 3
3 records inserted.
23052417
diagnoses_icd 19
19 records inserted.
procedures_icd 9
9 records inserted.
20894341
diagnoses_icd 24
24 records inserted.
procedures_icd 10
10 records inserted.
21214338
diagnoses_icd 6
6 records inserted.
procedures_icd 2
2 records inserted.
29880455
diagnoses_icd 4
4 records inserted.
procedures_icd 0
20976257
diagnoses_icd 13
13 records inserted.
procedures_icd 0
24557197
diagnoses_icd 8
8 records inserted.
procedures_icd 0
20700814
diagnoses_icd 39
39 records inserted.
procedures_icd 3
3 records inserted.
23448206
diagnoses_icd 19
19 records inserted.
procedures_icd 5
5 records inserted.
22279314
diagnoses_icd 6
6 records inserted.
procedures_icd 8
8 records inserted.
23424661
diagnoses_icd 19
19 records inserted.
procedures_icd 6
6 records inserted.
20926615
diagnoses_icd 5
5 records inserted.
procedures_icd 0
26984601
diagnoses_icd 10
10 records inserted.
procedures_icd 0
20636315
diagnoses_icd 25
25 records inserted.
procedures_icd 1
1 records inserted.
27349660
diagnoses_icd 15
15 records inserted.
procedures_icd 1
1 records inserted.
27484316
diagnoses_icd 4
4 records inserted.
procedures_icd 3
3 records inserted.
27391643
diagnoses_icd 13
13 records inserted.
procedures_icd 4
4 records inserted.
25287839
diagnoses_icd 6
6 records inserted.
procedures_icd 2
2 records inserted.
29649567
diagnoses_icd 10
10 records inserted.
procedures_icd 1
1 records inserted.
20943009
diagnoses_icd 13
13 records inserted.
procedures_icd 0
22618786
diagnoses_icd 13
13 records inserted.
procedures_icd 1
1 records inserted.
22482589
diagnoses_icd 9
9 records inserted.
procedures_icd 1
1 records inserted.
28536996
diagnoses_icd 2
2 records inserted.
procedures_icd 0
29588131
diagnoses_icd 5
5 records inserted.
procedures_icd 1
1 records inserted.
28466851
diagnoses_icd 4
4 records inserted.
procedures_icd 2
2 records inserted.
22278820
diagnoses_icd 21
21 records inserted.
procedures_icd 2
2 records inserted.
28010662
diagnoses_icd 18
18 records inserted.
procedures_icd 3
3 records inserted.
27727529
diagnoses_icd 15
15 records inserted.
procedures_icd 3
3 records inserted.
27034794
diagnoses_icd 31
31 records inserted.
procedures_icd 6
6 records inserted.
28648618
diagnoses_icd 12
12 records inserted.
procedures_icd 0
25322154
diagnoses_icd 27
27 records inserted.
procedures_icd 4
4 records inserted.
29371059
diagnoses_icd 21
21 records inserted.
procedures_icd 5
5 records inserted.
25433782
diagnoses_icd 28
28 records inserted.
procedures_icd 0
20037816
diagnoses_icd 5
5 records inserted.
procedures_icd 0
25353403
diagnoses_icd 10
10 records inserted.
procedures_icd 1
1 records inserted.
28246717
diagnoses_icd 9
9 records inserted.
procedures_icd 1
1 records inserted.
22112960
diagnoses_icd 7
7 records inserted.
procedures_icd 0
22239426
diagnoses_icd 4
4 records inserted.
procedures_icd 3
3 records inserted.
23715523
diagnoses_icd 6
6 records inserted.
procedures_icd 0
25688262
diagnoses_icd 14
14 records inserted.
procedures_icd 2
2 records inserted.
20876999
diagnoses_icd 4
4 records inserted.
procedures_icd 0
23764168
diagnoses_icd 16
16 records inserted.
procedures_icd 1
1 records inserted.
22514378
diagnoses_icd 7
7 records inserted.
procedures_icd 1
1 records inserted.
24579787
diagnoses_icd 8
8 records inserted.
procedures_icd 4
4 records inserted.
24202445
diagnoses_icd 6
6 records inserted.
procedures_icd 0
28809934
diagnoses_icd 12
12 records inserted.
procedures_icd 0
23890638
diagnoses_icd 29
29 records inserted.
procedures_icd 1
1 records inserted.
20296910
diagnoses_icd 7
7 records inserted.
procedures_icd 2
2 records inserted.
24871124
diagnoses_icd 5
5 records inserted.
procedures_icd 2
2 records inserted.
28954846
diagnoses_icd 4
4 records inserted.
procedures_icd 0
24273118
diagnoses_icd 10
10 records inserted.
procedures_icd 2
2 records inserted.
23652576
diagnoses_icd 1
1 records inserted.
procedures_icd 0
23592671
diagnoses_icd 12
12 records inserted.
procedures_icd 3
3 records inserted.
25332969
diagnoses_icd 7
7 records inserted.
procedures_icd 5
5 records inserted.
22030571
diagnoses_icd 11
11 records inserted.
procedures_icd 3
3 records inserted.
24604911
diagnoses_icd 15
15 records inserted.
procedures_icd 4
4 records inserted.
24635121
diagnoses_icd 7
7 records inserted.
procedures_icd 0
29511412
diagnoses_icd 38
38 records inserted.
procedures_icd 8
8 records inserted.
27743989
diagnoses_icd 2
2 records inserted.
procedures_icd 0
20424437
diagnoses_icd 10
10 records inserted.
procedures_icd 1
1 records inserted.
27452152
diagnoses_icd 5
5 records inserted.
procedures_icd 3
3 records inserted.
27138300
diagnoses_icd 8
8 records inserted.
procedures_icd 1
1 records inserted.
22561021
diagnoses_icd 3
3 records inserted.
procedures_icd 2
2 records inserted.
26436864
diagnoses_icd 11
11 records inserted.
procedures_icd 2
2 records inserted.
22197506
diagnoses_icd 8
8 records inserted.
procedures_icd 0
23406071
diagnoses_icd 14
14 records inserted.
procedures_icd 2
2 records inserted.
23112965
diagnoses_icd 7
7 records inserted.
procedures_icd 0
25362182
diagnoses_icd 8
8 records inserted.
procedures_icd 4
4 records inserted.
28364553
diagnoses_icd 5
5 records inserted.
procedures_icd 0
22234893
diagnoses_icd 11
11 records inserted.
procedures_icd 0
29413133
diagnoses_icd 12
12 records inserted.
procedures_icd 3
3 records inserted.
21841167
diagnoses_icd 18
18 records inserted.
procedures_icd 3
3 records inserted.
24253199
diagnoses_icd 10
10 records inserted.
procedures_icd 3
3 records inserted.
20120850
diagnoses_icd 4
4 records inserted.
procedures_icd 6
6 records inserted.
28878610
diagnoses_icd 3
3 records inserted.
procedures_icd 0
23931668
diagnoses_icd 12
12 records inserted.
procedures_icd 4
4 records inserted.
22935318
diagnoses_icd 20
20 records inserted.
procedures_icd 1
1 records inserted.
26919191
diagnoses_icd 7
7 records inserted.
procedures_icd 0
24638232
diagnoses_icd 28
28 records inserted.
procedures_icd 7
7 records inserted.
23841561
diagnoses_icd 3
3 records inserted.
procedures_icd 2
2 records inserted.
23872282
diagnoses_icd 9
9 records inserted.
procedures_icd 1
1 records inserted.
28422940
diagnoses_icd 14
14 records inserted.
procedures_icd 5
5 records inserted.
28076318
diagnoses_icd 9
9 records inserted.
procedures_icd 0
24636704
diagnoses_icd 2
2 records inserted.
procedures_icd 0
28091169
diagnoses_icd 11
11 records inserted.
procedures_icd 0
20276010
diagnoses_icd 9
9 records inserted.
procedures_icd 1
1 records inserted.
24214314
diagnoses_icd 7
7 records inserted.
procedures_icd 1
1 records inserted.
27778350
diagnoses_icd 11
11 records inserted.
procedures_icd 1
1 records inserted.
26779439
diagnoses_icd 14
14 records inserted.
procedures_icd 5
5 records inserted.
25996592
diagnoses_icd 10
10 records inserted.
procedures_icd 1
1 records inserted.
22176054
diagnoses_icd 2
2 records inserted.
procedures_icd 1
1 records inserted.
26732855
diagnoses_icd 27
27 records inserted.
procedures_icd 4
4 records inserted.
23707965
diagnoses_icd 22
22 records inserted.
procedures_icd 1
1 records inserted.
25761600
diagnoses_icd 7
7 records inserted.
procedures_icd 5
5 records inserted.
24552769
diagnoses_icd 2
2 records inserted.
procedures_icd 1
1 records inserted.
24673093
diagnoses_icd 9
9 records inserted.
procedures_icd 6
6 records inserted.
26106181
diagnoses_icd 9
9 records inserted.
procedures_icd 6
6 records inserted.
25863500
diagnoses_icd 9
9 records inserted.
procedures_icd 3
3 records inserted.
27352910
diagnoses_icd 7
7 records inserted.
procedures_icd 0
28108626
diagnoses_icd 23
23 records inserted.
procedures_icd 0
25547604
diagnoses_icd 20
20 records inserted.
procedures_icd 0
20248405
diagnoses_icd 2
2 records inserted.
procedures_icd 0
23779668
diagnoses_icd 10
10 records inserted.
procedures_icd 2
2 records inserted.
25269079
diagnoses_icd 6
6 records inserted.
procedures_icd 1
1 records inserted.
26016088
diagnoses_icd 18
18 records inserted.
procedures_icd 0
20347739
diagnoses_icd 18
18 records inserted.
procedures_icd 0
28638045
diagnoses_icd 25
25 records inserted.
procedures_icd 4
4 records inserted.
23020382
diagnoses_icd 6
6 records inserted.
procedures_icd 0
22441310
diagnoses_icd 4
4 records inserted.
procedures_icd 0
28208477
diagnoses_icd 4
4 records inserted.
procedures_icd 1
1 records inserted.
26941790
diagnoses_icd 9
9 records inserted.
procedures_icd 1
1 records inserted.
26693986
diagnoses_icd 3
3 records inserted.
procedures_icd 0
20067171
diagnoses_icd 3
3 records inserted.
procedures_icd 2
2 records inserted.
29044580
diagnoses_icd 7
7 records inserted.
procedures_icd 2
2 records inserted.
21845861
diagnoses_icd 18
18 records inserted.
procedures_icd 5
5 records inserted.
27813219
diagnoses_icd 2
2 records inserted.
procedures_icd 2
2 records inserted.
22268778
diagnoses_icd 22
22 records inserted.
procedures_icd 0
29223787
diagnoses_icd 11
11 records inserted.
procedures_icd 0
28197740
diagnoses_icd 10
10 records inserted.
procedures_icd 0
24336749
diagnoses_icd 16
16 records inserted.
procedures_icd 0
29997422
diagnoses_icd 4
4 records inserted.
procedures_icd 5
5 records inserted.
23941490
diagnoses_icd 3
3 records inserted.
procedures_icd 0
29356404
diagnoses_icd 15
15 records inserted.
procedures_icd 0
24615797
diagnoses_icd 12
12 records inserted.
procedures_icd 2
2 records inserted.
26913654
diagnoses_icd 4
4 records inserted.
procedures_icd 0
23980919
diagnoses_icd 14
14 records inserted.
procedures_icd 0
29686645
diagnoses_icd 4
4 records inserted.
procedures_icd 4
4 records inserted.
23940982
diagnoses_icd 15
15 records inserted.
procedures_icd 5
5 records inserted.
29209975
diagnoses_icd 12
12 records inserted.
procedures_icd 0
28245881
diagnoses_icd 13
13 records inserted.
procedures_icd 0
27872638
diagnoses_icd 10
10 records inserted.
procedures_icd 2
2 records inserted.
29754238
diagnoses_icd 4
4 records inserted.
procedures_icd 0
24881025
diagnoses_icd 10
10 records inserted.
procedures_icd 1
1 records inserted.
21399938
diagnoses_icd 2
2 records inserted.
procedures_icd 1
1 records inserted.
29502339
diagnoses_icd 26
26 records inserted.
procedures_icd 0
27436931
diagnoses_icd 11
11 records inserted.
procedures_icd 0
20531077
diagnoses_icd 9
9 records inserted.
procedures_icd 0
20587396
diagnoses_icd 7
7 records inserted.
procedures_icd 1
1 records inserted.
26443656
diagnoses_icd 6
6 records inserted.
procedures_icd 1
1 records inserted.
27837320
diagnoses_icd 13
13 records inserted.
procedures_icd 1
1 records inserted.
26757515
diagnoses_icd 3
3 records inserted.
procedures_icd 3
3 records inserted.
24607116
diagnoses_icd 15
15 records inserted.
procedures_icd 2
2 records inserted.
26089869
diagnoses_icd 7
7 records inserted.
procedures_icd 0
29697934
diagnoses_icd 23
23 records inserted.
procedures_icd 0
20435341
diagnoses_icd 18
18 records inserted.
procedures_icd 6
6 records inserted.
29174671
diagnoses_icd 24
24 records inserted.
procedures_icd 0
23234448
diagnoses_icd 23
23 records inserted.
procedures_icd 2
2 records inserted.
27873682
diagnoses_icd 18
18 records inserted.
procedures_icd 1
1 records inserted.
29025679
diagnoses_icd 11
11 records inserted.
procedures_icd 0
28222862
diagnoses_icd 13
13 records inserted.
procedures_icd 1
1 records inserted.
25901456
diagnoses_icd 18
18 records inserted.
procedures_icd 0
29025686
diagnoses_icd 14
14 records inserted.
procedures_icd 4
4 records inserted.
24682384
diagnoses_icd 11
11 records inserted.
procedures_icd 0
25350547
diagnoses_icd 6
6 records inserted.
procedures_icd 1
1 records inserted.
26606485
diagnoses_icd 12
12 records inserted.
procedures_icd 4
4 records inserted.
23081882
diagnoses_icd 32
32 records inserted.
procedures_icd 2
2 records inserted.
21584795
diagnoses_icd 13
13 records inserted.
procedures_icd 2
2 records inserted.
23828381
diagnoses_icd 9
9 records inserted.
procedures_icd 3
3 records inserted.
20311454
diagnoses_icd 6
6 records inserted.
procedures_icd 0
28539807
diagnoses_icd 9
9 records inserted.
procedures_icd 0
22543263
diagnoses_icd 2
2 records inserted.
procedures_icd 0
28324769
diagnoses_icd 5
5 records inserted.
procedures_icd 0
28120996
diagnoses_icd 6
6 records inserted.
procedures_icd 1
1 records inserted.
29209508
diagnoses_icd 14
14 records inserted.
procedures_icd 1
1 records inserted.
23427492
diagnoses_icd 12
12 records inserted.
procedures_icd 2
2 records inserted.
27404709
diagnoses_icd 28
28 records inserted.
procedures_icd 3
3 records inserted.
25614756
diagnoses_icd 4
4 records inserted.
procedures_icd 0
24583081
diagnoses_icd 7
7 records inserted.
procedures_icd 0
23192490
diagnoses_icd 3
3 records inserted.
procedures_icd 0
21402025
diagnoses_icd 8
8 records inserted.
procedures_icd 0
21794732
diagnoses_icd 13
13 records inserted.
procedures_icd 1
1 records inserted.
27085749
diagnoses_icd 7
7 records inserted.
procedures_icd 0
26727350
diagnoses_icd 7
7 records inserted.
procedures_icd 1
1 records inserted.
29866935
diagnoses_icd 8
8 records inserted.
procedures_icd 1
1 records inserted.
29151159
diagnoses_icd 11
11 records inserted.
procedures_icd 0
24028601
diagnoses_icd 7
7 records inserted.
procedures_icd 0
21791676
diagnoses_icd 16
16 records inserted.
procedures_icd 5
5 records inserted.
23739838
diagnoses_icd 4
4 records inserted.
procedures_icd 1
1 records inserted.
25202623
diagnoses_icd 13
13 records inserted.
procedures_icd 1
1 records inserted.
20715971
diagnoses_icd 2
2 records inserted.
procedures_icd 0
25093061
diagnoses_icd 23
23 records inserted.
procedures_icd 6
6 records inserted.
28197318
diagnoses_icd 5
5 records inserted.
procedures_icd 0
23503815
diagnoses_icd 10
10 records inserted.
procedures_icd 0
27289034
diagnoses_icd 12
12 records inserted.
procedures_icd 2
2 records inserted.
21364683
diagnoses_icd 5
5 records inserted.
procedures_icd 4
4 records inserted.
25630156
diagnoses_icd 8
8 records inserted.
procedures_icd 0
20990411
diagnoses_icd 23
23 records inserted.
procedures_icd 4
4 records inserted.
27288014
diagnoses_icd 8
8 records inserted.
procedures_icd 0
26789834
diagnoses_icd 7
7 records inserted.
procedures_icd 0
22527442
diagnoses_icd 36
36 records inserted.
procedures_icd 5
5 records inserted.
28611028
diagnoses_icd 4
4 records inserted.
procedures_icd 1
1 records inserted.
28954078
diagnoses_icd 6
6 records inserted.
procedures_icd 0
24657887
diagnoses_icd 22
22 records inserted.
procedures_icd 6
6 records inserted.
29375970
diagnoses_icd 5
5 records inserted.
procedures_icd 0
26306534
diagnoses_icd 10
10 records inserted.
procedures_icd 0
27948521
diagnoses_icd 13
13 records inserted.
procedures_icd 0

In [17]:
24579787 in unique_hadm_ids

True

In [82]:
cursor = collection_diagnoses_icd.find({"hadm_id": 24579787})
documents = list(cursor)

In [18]:
admissions_cursor = collection_admissions.find({"hadm_id": {"$in": unique_hadm_ids}})
df_admissions = pd.DataFrame(list(admissions_cursor))

In [19]:
subject_ids = df_admissions['subject_id'].unique().tolist()

In [102]:
records = df_admissions.to_dict('records')  
# collection = db["admissions"]
if records: 
    collection.insert_many(records)

In [20]:
subject_ids

[10046543,
 10188106,
 10207914,
 10247468,
 10261732,
 10270108,
 10312052,
 10342727,
 10346869,
 10396938,
 10449873,
 10467410,
 10493420,
 10529115,
 10536786,
 10540284,
 10556566,
 10570079,
 10572666,
 10592833,
 10602678,
 10624561,
 10648095,
 10649183,
 10669823,
 10674504,
 10676442,
 10706500,
 10717970,
 10745565,
 10746247,
 10751258,
 10755791,
 10787196,
 10800472,
 10844079,
 10937510,
 10958253,
 11069955,
 11113889,
 11119871,
 11122975,
 11126859,
 11127819,
 11151861,
 11168491,
 11171757,
 11230090,
 11266795,
 11300135,
 11334817,
 11415869,
 11422670,
 11451795,
 11493762,
 11520986,
 11554694,
 11581862,
 11621470,
 11708854,
 11724731,
 11750274,
 11770961,
 11786902,
 11801099,
 11818101,
 11854989,
 11871004,
 11902324,
 11945540,
 11966397,
 11992390,
 12122921,
 12124962,
 12175862,
 12209542,
 12235568,
 12271405,
 12338292,
 12344190,
 12414946,
 12428722,
 12452729,
 12474949,
 12481952,
 12547294,
 12584804,
 12606543,
 12623657,
 12631532,
 12648612,
 12682931,
 12701907,
 12743926,
 12801556,
 12803153,
 12806972,
 12824529,
 12825337,
 12870526,
 12886548,
 12929147,
 13017137,
 13018839,
 13039405,
 13040343,
 13049401,
 13128781,
 13282789,
 13297743,
 13307767,
 13321760,
 13383248,
 13471727,
 13507232,
 13528817,
 13532356,
 13557705,
 13584937,
 13614978,
 13620446,
 13640324,
 13674486,
 13717854,
 13727534,
 13743788,
 13785400,
 13805783,
 13814807,
 13846210,
 13878681,
 13885205,
 13886221,
 13917910,
 13954367,
 13994599,
 14065514,
 14112662,
 14120635,
 14121288,
 14178540,
 14253478,
 14368105,
 14388973,
 14405318,
 14457951,
 14519121,
 14568429,
 14587328,
 14599343,
 14623180,
 14624945,
 14629406,
 14677148,
 14702995,
 14718089,
 14732249,
 14800709,
 14813021,
 14813129,
 14840089,
 14881763,
 14969719,
 15060292,
 15163056,
 15183993,
 15192243,
 15228243,
 15243644,
 15287734,
 15360771,
 15400037,
 15408578,
 15467139,
 15471505,
 15497616,
 15534262,
 15590663,
 15668092,
 15682570,
 15689104,
 15702242,
 15758627,
 15784951,
 15796056,
 15935256,
 15950302,
 16106417,
 16187076,
 16427239,
 16431438,
 16435424,
 16475189,
 16527660,
 16585004,
 16591214,
 16597218,
 16647430,
 16655585,
 16707561,
 16824728,
 16828559,
 16908814,
 16929344,
 16930714,
 16938510,
 16944689,
 16983420,
 17003201,
 17020399,
 17031405,
 17079680,
 17112109,
 17157555,
 17245945,
 17309286,
 17359380,
 17439859,
 17472354,
 17483123,
 17489585,
 17512239,
 17516272,
 17536969,
 17577231,
 17588958,
 17618022,
 17765398,
 17999883,
 18009231,
 18011384,
 18133146,
 18224048,
 18264239,
 18275312,
 18339582,
 18367623,
 18371155,
 18519417,
 18528770,
 18574721,
 18664295,
 18667723,
 18708396,
 18712944,
 18715035,
 18785642,
 18790180,
 18816555,
 18845673,
 18879099,
 19073526,
 19102334,
 19368299,
 19422002,
 19451054,
 19470526,
 19562159,
 19638442,
 19672997,
 19895627,
 19936109]

In [21]:
patients_cursor = collection_patients.find({"subject_id": {"$in": subject_ids}})
df_patients = pd.DataFrame(list(patients_cursor))

In [22]:
df_patients

,_id,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod
0,67c5655a24c857f62da20469,10046543,F,91,2155,2017 - 2019,NaT
1,67c5655a24c857f62da214d7,10188106,M,39,2151,2011 - 2013,NaT
2,67c5655a24c857f62da2173b,10207914,M,22,2155,2008 - 2010,NaT
3,67c5655a24c857f62da21bb4,10247468,M,23,2155,2008 - 2010,NaT
4,67c5655a24c857f62da21d70,10261732,F,79,2155,2011 - 2013,2155-03-24
...,...,...,...,...,...,...,...
257,67c5656c24c857f62da65f01,19562159,F,81,2155,2017 - 2019,NaT
258,67c5656c24c857f62da667fa,19638442,F,47,2151,2008 - 2010,NaT
259,67c5656c24c857f62da66bdf,19672997,F,66,2155,2011 - 2013,2155-05-02
260,67c5656c24c857f62da685ba,19895627,F,53,2154,2011 - 2013,NaT
261,67c5656c24c857f62da68a8a,19936109,F,80,2154,2008 - 2010,2155-11-05

In [46]:
df_patients_cleaned = df_patients.where(pd.notnull(df_patients), None)
# Step 2: Convert timezone-aware datetime columns to naive datetime
for col in df_patients_cleaned.select_dtypes(include=["datetimetz"]).columns:
    df_patients_cleaned[col] = df_patients_cleaned[col].dt.tz_localize(None)

# Step 3: Convert to list of records
records = df_patients_cleaned.to_dict(orient='records')

# Step 4: Insert into MongoDB
collection = db["patients"]
if records:
    result = collection.insert_many(records)
    print(f"Inserted {len(result.inserted_ids)} records.")
else:
    print("No records to insert.")

ValueError: NaTType does not support utcoffset

In [25]:
df_patients['dod'] = df_patients['dod'].apply(lambda x: x.to_pydatetime() if pd.notnull(x) else None)

In [34]:
df_patients['dod'] = df_patients['dod'].where(~df_patients['dod'].isna(), None)
# df_patients['dod'] = df_patients['dod'].replace(pd.NaT, None)

In [39]:
df_patients['dod'].where(df_patients['dod'].notna(), None)

0            NaT
1            NaT
2            NaT
3            NaT
4     2155-03-24
         ...
257          NaT
258          NaT
259   2155-05-02
260          NaT
261   2155-11-05
Name: dod, Length: 262, dtype: datetime64[ns]

In [42]:
df_patients.loc[:, 'dod'] = df_patients['dod'].where(df_patients['dod'].notna(), None)

In [44]:
df_patients.drop(columns=['dod'])

,_id,subject_id,gender,anchor_age,anchor_year,anchor_year_group
0,67c5655a24c857f62da20469,10046543,F,91,2155,2017 - 2019
1,67c5655a24c857f62da214d7,10188106,M,39,2151,2011 - 2013
2,67c5655a24c857f62da2173b,10207914,M,22,2155,2008 - 2010
3,67c5655a24c857f62da21bb4,10247468,M,23,2155,2008 - 2010
4,67c5655a24c857f62da21d70,10261732,F,79,2155,2011 - 2013
...,...,...,...,...,...,...
257,67c5656c24c857f62da65f01,19562159,F,81,2155,2017 - 2019
258,67c5656c24c857f62da667fa,19638442,F,47,2151,2008 - 2010
259,67c5656c24c857f62da66bdf,19672997,F,66,2155,2011 - 2013
260,67c5656c24c857f62da685ba,19895627,F,53,2154,2011 - 2013
261,67c5656c24c857f62da68a8a,19936109,F,80,2154,2008 - 2010

In [47]:
records

[{'_id': ObjectId('67c5655a24c857f62da20469'),
  'subject_id': 10046543,
  'gender': 'F',
  'anchor_age': 91,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da214d7'),
  'subject_id': 10188106,
  'gender': 'M',
  'anchor_age': 39,
  'anchor_year': 2151,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da2173b'),
  'subject_id': 10207914,
  'gender': 'M',
  'anchor_age': 22,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da21bb4'),
  'subject_id': 10247468,
  'gender': 'M',
  'anchor_age': 23,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da21d70'),
  'subject_id': 10261732,
  'gender': 'F',
  'anchor_age': 79,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': Timestamp('2155-03-24 00:00:00')},
 {'_id': ObjectId('67c5655a24c857f62da21e6f'),
  'subject_id': 10270108,
  'gender': 'M',
  'anchor_age': 55,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da2236e'),
  'subject_id': 10312052,
  'gender': 'M',
  'anchor_age': 71,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': Timestamp('2155-07-16 00:00:00')},
 {'_id': ObjectId('67c5655a24c857f62da22717'),
  'subject_id': 10342727,
  'gender': 'F',
  'anchor_age': 60,
  'anchor_year': 2154,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da2279c'),
  'subject_id': 10346869,
  'gender': 'F',
  'anchor_age': 32,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da22d60'),
  'subject_id': 10396938,
  'gender': 'F',
  'anchor_age': 47,
  'anchor_year': 2154,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da23395'),
  'subject_id': 10449873,
  'gender': 'F',
  'anchor_age': 91,
  'anchor_year': 2154,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da2356f'),
  'subject_id': 10467410,
  'gender': 'M',
  'anchor_age': 64,
  'anchor_year': 2153,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da2385d'),
  'subject_id': 10493420,
  'gender': 'F',
  'anchor_age': 70,
  'anchor_year': 2152,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da23ca5'),
  'subject_id': 10529115,
  'gender': 'F',
  'anchor_age': 75,
  'anchor_year': 2154,
  'anchor_year_group': '2017 - 2019',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da23d91'),
  'subject_id': 10536786,
  'gender': 'F',
  'anchor_age': 84,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da23df0'),
  'subject_id': 10540284,
  'gender': 'M',
  'anchor_age': 56,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da23fbf'),
  'subject_id': 10556566,
  'gender': 'F',
  'anchor_age': 56,
  'anchor_year': 2151,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655a24c857f62da24156'),
  'subject_id': 10570079,
  'gender': 'M',
  'anchor_age': 21,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da2419a'),
  'subject_id': 10572666,
  'gender': 'M',
  'anchor_age': 51,
  'anchor_year': 2154,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da2442e'),
  'subject_id': 10592833,
  'gender': 'F',
  'anchor_age': 68,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da24552'),
  'subject_id': 10602678,
  'gender': 'M',
  'anchor_age': 39,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da247dd'),
  'subject_id': 10624561,
  'gender': 'M',
  'anchor_age': 47,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da24a7d'),
  'subject_id': 10648095,
  'gender': 'M',
  'anchor_age': 55,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da24aa8'),
  'subject_id': 10649183,
  'gender': 'F',
  'anchor_age': 81,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da24d2a'),
  'subject_id': 10669823,
  'gender': 'F',
  'anchor_age': 72,
  'anchor_year': 2154,
  'anchor_year_group': '2008 - 2010',
  'dod': Timestamp('2161-04-12 00:00:00')},
 {'_id': ObjectId('67c5655b24c857f62da24dbf'),
  'subject_id': 10674504,
  'gender': 'F',
  'anchor_age': 82,
  'anchor_year': 2148,
  'anchor_year_group': '2008 - 2010',
  'dod': Timestamp('2155-03-31 00:00:00')},
 {'_id': ObjectId('67c5655b24c857f62da24dfb'),
  'subject_id': 10676442,
  'gender': 'F',
  'anchor_age': 89,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': Timestamp('2155-03-23 00:00:00')},
 {'_id': ObjectId('67c5655b24c857f62da251bc'),
  'subject_id': 10706500,
  'gender': 'F',
  'anchor_age': 41,
  'anchor_year': 2146,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da25309'),
  'subject_id': 10717970,
  'gender': 'M',
  'anchor_age': 77,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': Timestamp('2156-07-23 00:00:00')},
 {'_id': ObjectId('67c5655b24c857f62da2562a'),
  'subject_id': 10745565,
  'gender': 'F',
  'anchor_age': 56,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da25642'),
  'subject_id': 10746247,
  'gender': 'M',
  'anchor_age': 43,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da256d9'),
  'subject_id': 10751258,
  'gender': 'F',
  'anchor_age': 32,
  'anchor_year': 2152,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da25756'),
  'subject_id': 10755791,
  'gender': 'F',
  'anchor_age': 82,
  'anchor_year': 2154,
  'anchor_year_group': '2017 - 2019',
  'dod': Timestamp('2155-03-09 00:00:00')},
 {'_id': ObjectId('67c5655b24c857f62da25ae9'),
  'subject_id': 10787196,
  'gender': 'M',
  'anchor_age': 47,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da25c6c'),
  'subject_id': 10800472,
  'gender': 'M',
  'anchor_age': 39,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da26197'),
  'subject_id': 10844079,
  'gender': 'F',
  'anchor_age': 75,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da26c5c'),
  'subject_id': 10937510,
  'gender': 'F',
  'anchor_age': 30,
  'anchor_year': 2153,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da26ece'),
  'subject_id': 10958253,
  'gender': 'M',
  'anchor_age': 50,
  'anchor_year': 2147,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da27b96'),
  'subject_id': 11069955,
  'gender': 'F',
  'anchor_age': 70,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da280d4'),
  'subject_id': 11113889,
  'gender': 'M',
  'anchor_age': 85,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': Timestamp('2155-12-18 00:00:00')},
 {'_id': ObjectId('67c5655b24c857f62da2819b'),
  'subject_id': 11119871,
  'gender': 'M',
  'anchor_age': 76,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': Timestamp('2155-05-21 00:00:00')},
 {'_id': ObjectId('67c5655b24c857f62da28206'),
  'subject_id': 11122975,
  'gender': 'F',
  'anchor_age': 85,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da2827a'),
  'subject_id': 11126859,
  'gender': 'M',
  'anchor_age': 71,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655b24c857f62da28290'),
  'subject_id': 11127819,
  'gender': 'M',
  'anchor_age': 61,
  'anchor_year': 2151,
  'anchor_year_group': '2011 - 2013',
  'dod': Timestamp('2155-05-24 00:00:00')},
 {'_id': ObjectId('67c5655c24c857f62da28589'),
  'subject_id': 11151861,
  'gender': 'F',
  'anchor_age': 67,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da28785'),
  'subject_id': 11168491,
  'gender': 'M',
  'anchor_age': 60,
  'anchor_year': 2154,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da287f6'),
  'subject_id': 11171757,
  'gender': 'F',
  'anchor_age': 91,
  'anchor_year': 2150,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da28eb9'),
  'subject_id': 11230090,
  'gender': 'F',
  'anchor_age': 24,
  'anchor_year': 2152,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da29303'),
  'subject_id': 11266795,
  'gender': 'F',
  'anchor_age': 26,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da296e3'),
  'subject_id': 11300135,
  'gender': 'F',
  'anchor_age': 60,
  'anchor_year': 2152,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da29aca'),
  'subject_id': 11334817,
  'gender': 'M',
  'anchor_age': 60,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': Timestamp('2155-08-10 00:00:00')},
 {'_id': ObjectId('67c5655c24c857f62da2a40d'),
  'subject_id': 11415869,
  'gender': 'M',
  'anchor_age': 54,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da2a4d5'),
  'subject_id': 11422670,
  'gender': 'M',
  'anchor_age': 71,
  'anchor_year': 2147,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da2a82d'),
  'subject_id': 11451795,
  'gender': 'F',
  'anchor_age': 64,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da2acdc'),
  'subject_id': 11493762,
  'gender': 'F',
  'anchor_age': 28,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da2aff6'),
  'subject_id': 11520986,
  'gender': 'F',
  'anchor_age': 53,
  'anchor_year': 2148,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da2b407'),
  'subject_id': 11554694,
  'gender': 'M',
  'anchor_age': 80,
  'anchor_year': 2153,
  'anchor_year_group': '2008 - 2010',
  'dod': Timestamp('2155-09-06 00:00:00')},
 {'_id': ObjectId('67c5655c24c857f62da2b73b'),
  'subject_id': 11581862,
  'gender': 'M',
  'anchor_age': 63,
  'anchor_year': 2146,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655c24c857f62da2bbec'),
  'subject_id': 11621470,
  'gender': 'F',
  'anchor_age': 33,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655d24c857f62da2c60c'),
  'subject_id': 11708854,
  'gender': 'F',
  'anchor_age': 59,
  'anchor_year': 2149,
  'anchor_year_group': '2008 - 2010',
  'dod': Timestamp('2156-03-30 00:00:00')},
 {'_id': ObjectId('67c5655d24c857f62da2c7dc'),
  'subject_id': 11724731,
  'gender': 'M',
  'anchor_age': 86,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655d24c857f62da2cafb'),
  'subject_id': 11750274,
  'gender': 'F',
  'anchor_age': 76,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655d24c857f62da2cd6f'),
  'subject_id': 11770961,
  'gender': 'F',
  'anchor_age': 73,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655d24c857f62da2cf38'),
  'subject_id': 11786902,
  'gender': 'F',
  'anchor_age': 76,
  'anchor_year': 2151,
  'anchor_year_group': '2011 - 2013',
  'dod': Timestamp('2157-03-20 00:00:00')},
 {'_id': ObjectId('67c5655d24c857f62da2d0d8'),
  'subject_id': 11801099,
  'gender': 'M',
  'anchor_age': 36,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655d24c857f62da2d2bf'),
  'subject_id': 11818101,
  'gender': 'M',
  'anchor_age': 44,
  'anchor_year': 2154,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655d24c857f62da2d71e'),
  'subject_id': 11854989,
  'gender': 'F',
  'anchor_age': 22,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655d24c857f62da2d914'),
  'subject_id': 11871004,
  'gender': 'F',
  'anchor_age': 67,
  'anchor_year': 2147,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655d24c857f62da2dcdd'),
  'subject_id': 11902324,
  'gender': 'M',
  'anchor_age': 19,
  'anchor_year': 2150,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655d24c857f62da2e1d9'),
  'subject_id': 11945540,
  'gender': 'M',
  'anchor_age': 55,
  'anchor_year': 2153,
  'anchor_year_group': '2014 - 2016',
  'dod': Timestamp('2156-03-01 00:00:00')},
 {'_id': ObjectId('67c5655d24c857f62da2e44b'),
  'subject_id': 11966397,
  'gender': 'M',
  'anchor_age': 68,
  'anchor_year': 2153,
  'anchor_year_group': '2011 - 2013',
  'dod': Timestamp('2155-12-08 00:00:00')},
 {'_id': ObjectId('67c5655d24c857f62da2e762'),
  'subject_id': 11992390,
  'gender': 'F',
  'anchor_age': 29,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': Timestamp('2155-03-30 00:00:00')},
 {'_id': ObjectId('67c5655d24c857f62da2f673'),
  'subject_id': 12122921,
  'gender': 'M',
  'anchor_age': 80,
  'anchor_year': 2148,
  'anchor_year_group': '2008 - 2010',
  'dod': Timestamp('2155-08-20 00:00:00')},
 {'_id': ObjectId('67c5655d24c857f62da2f6ad'),
  'subject_id': 12124962,
  'gender': 'M',
  'anchor_age': 53,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655e24c857f62da2fc8c'),
  'subject_id': 12175862,
  'gender': 'F',
  'anchor_age': 68,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655e24c857f62da30059'),
  'subject_id': 12209542,
  'gender': 'F',
  'anchor_age': 27,
  'anchor_year': 2154,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655e24c857f62da30354'),
  'subject_id': 12235568,
  'gender': 'M',
  'anchor_age': 91,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': Timestamp('2155-04-06 00:00:00')},
 {'_id': ObjectId('67c5655e24c857f62da307bf'),
  'subject_id': 12271405,
  'gender': 'M',
  'anchor_age': 72,
  'anchor_year': 2154,
  'anchor_year_group': '2011 - 2013',
  'dod': Timestamp('2162-04-02 00:00:00')},
 {'_id': ObjectId('67c5655e24c857f62da30fbf'),
  'subject_id': 12338292,
  'gender': 'F',
  'anchor_age': 23,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655e24c857f62da31073'),
  'subject_id': 12344190,
  'gender': 'M',
  'anchor_age': 76,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655e24c857f62da318da'),
  'subject_id': 12414946,
  'gender': 'F',
  'anchor_age': 84,
  'anchor_year': 2151,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655e24c857f62da31a88'),
  'subject_id': 12428722,
  'gender': 'M',
  'anchor_age': 61,
  'anchor_year': 2154,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655e24c857f62da31d79'),
  'subject_id': 12452729,
  'gender': 'M',
  'anchor_age': 43,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': NaT},
 {'_id': ObjectId('67c5655e24c857f62da32010'),
  'subject_id': 12474949,
  'gender': 'F',
  'anchor_age': 29,
  'anchor_year': 2147,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655e24c857f62da320ee'),
  'subject_id': 12481952,
  'gender': 'M',
  'anchor_age': 46,
  'anchor_year': 2145,
  'anchor_year_group': '2008 - 2010',
  'dod': Timestamp('2155-05-02 00:00:00')},
 {'_id': ObjectId('67c5655e24c857f62da328b2'),
  'subject_id': 12547294,
  'gender': 'F',
  'anchor_age': 22,
  'anchor_year': 2154,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da32d18'),
  'subject_id': 12584804,
  'gender': 'M',
  'anchor_age': 80,
  'anchor_year': 2152,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da32f9c'),
  'subject_id': 12606543,
  'gender': 'F',
  'anchor_age': 57,
  'anchor_year': 2150,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da33193'),
  'subject_id': 12623657,
  'gender': 'M',
  'anchor_age': 38,
  'anchor_year': 2148,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da33263'),
  'subject_id': 12631532,
  'gender': 'F',
  'anchor_age': 69,
  'anchor_year': 2152,
  'anchor_year_group': '2014 - 2016',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da33465'),
  'subject_id': 12648612,
  'gender': 'F',
  'anchor_age': 37,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da33863'),
  'subject_id': 12682931,
  'gender': 'F',
  'anchor_age': 37,
  'anchor_year': 2153,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da33ab4'),
  'subject_id': 12701907,
  'gender': 'M',
  'anchor_age': 20,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da33fa3'),
  'subject_id': 12743926,
  'gender': 'M',
  'anchor_age': 67,
  'anchor_year': 2155,
  'anchor_year_group': '2014 - 2016',
  'dod': Timestamp('2156-07-17 00:00:00')},
 {'_id': ObjectId('67c5655f24c857f62da34690'),
  'subject_id': 12801556,
  'gender': 'F',
  'anchor_age': 24,
  'anchor_year': 2151,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da346c5'),
  'subject_id': 12803153,
  'gender': 'F',
  'anchor_age': 24,
  'anchor_year': 2155,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da3472a'),
  'subject_id': 12806972,
  'gender': 'M',
  'anchor_age': 23,
  'anchor_year': 2155,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da3492d'),
  'subject_id': 12824529,
  'gender': 'M',
  'anchor_age': 53,
  'anchor_year': 2151,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da34943'),
  'subject_id': 12825337,
  'gender': 'M',
  'anchor_age': 58,
  'anchor_year': 2150,
  'anchor_year_group': '2008 - 2010',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da34e5e'),
  'subject_id': 12870526,
  'gender': 'F',
  'anchor_age': 86,
  'anchor_year': 2152,
  'anchor_year_group': '2008 - 2010',
  'dod': Timestamp('2155-04-03 00:00:00')},
 {'_id': ObjectId('67c5655f24c857f62da3503b'),
  'subject_id': 12886548,
  'gender': 'F',
  'anchor_age': 28,
  'anchor_year': 2147,
  'anchor_year_group': '2011 - 2013',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da35522'),
  'subject_id': 12929147,
  'gender': 'M',
  'anchor_age': 60,
  'anchor_year': 2154,
  'anchor_year_group': '2017 - 2019',
  'dod': NaT},
 {'_id': ObjectId('67c5655f24c857f62da35f6a'),
  'subject_id': 13017137,
  'gender': 'F',
  'anchor_age': 84,
  'anchor_year': 2155,
  'anchor_year_group': '2017 - 2019',
  'dod': Timestamp('2155-03-23 00:00:00')},
 {'_id': ObjectId('67c5655f24c857f62da35fa1'),
  'subject_id': 13018839,
  'gender': 'F',
  'anchor_age': 35,
  'anchor_year': 2155,

In [49]:
def clean_value(val):
    if isinstance(val, pd.Timestamp):
        return val.to_pydatetime() if pd.notnull(val) else None
    elif isinstance(val, pd.NaT.__class__):
        return None
    return val
df_clean = df_patients.applymap(clean_value)

C:\Users\Harishankar\AppData\Local\Temp\ipykernel_23616\3545497895.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_clean = df_patients.applymap(clean_value)

In [50]:
records = df_patients.to_dict('records')  
collection = db["patients"]
if records: 
    collection.insert_many(records)

ValueError: NaTType does not support utcoffset

In [23]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'recommender_system')

In [78]:
# Query all hadm_ids at once using $in
diagnoses_cursor = collection_diagnoses_icd.find({"hadm_id": {"$in": unique_hadm_ids}})
procedures_cursor = collection_procedures_icd.find({"hadm_id": {"$in": unique_hadm_ids}})

# Convert to lists and DataFrames
df_diagnoses = pd.DataFrame(list(diagnoses_cursor))
df_procedures = pd.DataFrame(list(procedures_cursor))

In [75]:
procedures_cursor = collection_procedures_icd.find({"hadm_id": {"$in": unique_hadm_ids}})
len(list(procedures_cursor))

510

In [79]:
records = df_diagnoses.to_dict('records')  
collection = db["procedures_icd"]
if records: 
    collection.insert_many(records)

In [80]:
records = df_procedures.to_dict('records')  
collection = db["diagnoses_icd"]
if records: 
    collection.insert_many(records)

In [50]:
df_procedures

,_id,subject_id,hadm_id,seq_num,chartdate,icd_code,icd_version
0,67c5a8ce60999f4df0732382,10188106,28288574,1,2155-05-10,2309,9
1,67c5a8ce60999f4df0732383,10188106,28288574,2,2155-05-24,4836,9
2,67c5a8ce60999f4df0732384,10188106,28288574,3,2155-05-24,4516,9
3,67c5a8ce60999f4df0732863,10207914,21364683,1,2155-03-27,8103,9
4,67c5a8ce60999f4df0732864,10207914,21364683,2,2155-03-27,353,9
...,...,...,...,...,...,...,...
505,67c5a8f460999f4df07d17bb,19936109,24673093,2,2155-03-16,3772,9
506,67c5a8f460999f4df07d17bc,19936109,24673093,3,2155-03-16,9671,9
507,67c5a8f460999f4df07d17bd,19936109,24673093,4,2155-03-16,9604,9
508,67c5a8f460999f4df07d17be,19936109,24673093,5,2155-03-16,9962,9
509,67c5a8f460999f4df07d17bf,19936109,24673093,6,2155-03-16,8872,9

In [18]:
df_diagnoses[df_diagnoses['hadm_id']==28335657]

,_id,subject_id,hadm_id,seq_num,icd_code,icd_version
0,67c4cbcb44a7421d69772f32,10556566,28335657,1,5609,9
1,67c4cbcb44a7421d69772f33,10556566,28335657,2,7885,9
2,67c4cbcb44a7421d69772f34,10556566,28335657,3,7840,9
3,67c4cbcb44a7421d69772f35,10556566,28335657,4,7821,9
4,67c4cbcb44a7421d69772f36,10556566,28335657,5,27651,9
5,67c4cbcb44a7421d69772f37,10556566,28335657,6,4019,9
6,67c4cbcb44a7421d69772f38,10556566,28335657,7,53081,9
7,67c4cbcb44a7421d69772f39,10556566,28335657,8,311,9
8,67c4cbcb44a7421d69772f3a,10556566,28335657,9,49390,9
9,67c4cbcb44a7421d69772f3b,10556566,28335657,10,V4572,9