In [3]:
from pymongo import MongoClient
import pandas as pd
from datetime import datetime
from itertools import chain

client = MongoClient("mongodb://localhost:27017/")
db = client["recommender_system"]

In [4]:
df = pd.read_csv('NIES 2024.csv')
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q13,Q14,Q15,Q16,...,HospSize,admcode,xadmtype,AdmTypeBinary,ScaleADM,ScaleTREAT,ScaleDCHARGE,ScaleOTHER,ScoreWAIT,ScoreOVERALL
0,2.0,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1.0,4.0,...,2.0,2,2,1.0,NaN,9.38,7.14,10.00,NaN,10.0
1,1.0,1.0,4.0,2.0,2.0,6.0,3.0,2.0,2.0,2.0,...,2.0,1,1,0.0,5.00,5.00,5.63,3.33,NaN,3.0
2,1.0,2.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,2.0,2,1,0.0,NaN,10.00,9.38,10.00,NaN,10.0
3,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,...,2.0,1,1,0.0,8.33,10.00,10.00,10.00,3.0,10.0
4,2.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,2.0,1,2,1.0,NaN,9.38,8.13,10.00,NaN,9.0

In [6]:
df.insert(0, 'Response_ID', range(1, len(df) + 1))

# Treatment, Procedures, staff interaction

In [7]:
df

,Response_ID,Q1,Q2,Q3,Q4,Q5,Q6,Q13,Q14,Q15,...,HospSize,admcode,xadmtype,AdmTypeBinary,ScaleADM,ScaleTREAT,ScaleDCHARGE,ScaleOTHER,ScoreWAIT,ScoreOVERALL
0,1,2.0,NaN,NaN,NaN,NaN,NaN,4.0,1.0,1.0,...,2.0,2,2,1.0,NaN,9.38,7.14,10.00,NaN,10.0
1,2,1.0,1.0,4.0,2.0,2.0,6.0,3.0,2.0,2.0,...,2.0,1,1,0.0,5.00,5.00,5.63,3.33,NaN,3.0
2,3,1.0,2.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,2.0,2,1,0.0,NaN,10.00,9.38,10.00,NaN,10.0
3,4,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,...,2.0,1,1,0.0,8.33,10.00,10.00,10.00,3.0,10.0
4,5,2.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,2.0,1,2,1.0,NaN,9.38,8.13,10.00,NaN,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12362,12363,1.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,3.0,...,2.0,1,1,0.0,10.00,4.38,6.67,5.00,3.0,7.0
12363,12364,1.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,...,2.0,1,1,0.0,7.50,10.00,6.67,8.33,9.0,10.0
12364,12365,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1.0,1.0,...,2.0,1,1,0.0,8.33,10.00,9.38,10.00,18.0,10.0
12365,12366,1.0,1.0,4.0,3.0,2.0,2.0,2.0,3.0,2.0,...,2.0,1,1,0.0,3.75,3.13,0.63,5.00,9.0,7.0
12366,12367,1.0,1.0,2.0,1.0,2.0,3.0,2.0,2.0,2.0,...,2.0,1,1,0.0,6.67,6.25,4.29,6.67,18.0,7.0

In [ ]:
df[['Q13','Q14','Q15','Q16','Q17','Q18','Q19','Q20','Q21','Q22','Q23','Q24','Q25','Q26','Q22']]

,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q22
0,4.0,1.0,1.0,4.0,1.0,2.0,1.0,6.0,4.0,1.0,2.0,1.0,1.0,1.0,1.0
1,3.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0
2,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,2.0,1.0,4.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12362,2.0,2.0,3.0,3.0,2.0,1.0,2.0,6.0,3.0,3.0,1.0,1.0,4.0,3.0,3.0
12363,2.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0
12364,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12365,2.0,3.0,2.0,1.0,3.0,1.0,2.0,6.0,4.0,2.0,2.0,1.0,2.0,2.0,2.0
12366,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0